<header>
    <div id="cabecera">
        <div id="logo">
            <a href="/feed"><img src="../imgs/logo.png" alt="Logo corporativo" width="100px"/></a>
        </div>
        <nav>
            <div id="menu">
                <input type="text" name="cuadroBusqueda" id="cuadroBusqueda" placeholder="Busca un usuario" onkeypress="sendSearch(event)">
                <img id="lupa" src="../imgs/lupa_gris.png" alt="Búsqueda" width="15px" onclick="toggleSearch('cuadroBusqueda')"/>
                <a href="/feed">Inicio</a>
                <a href="/profile">Perfil</a>
                <a href="/logout">Log out</a>
            </div>
        </nav>
    </div>
</header>