header {
    width: 100%;
    z-index: 2;
    height: 70px;
    background-color: rgba(255,255,255,0.6);
    border-bottom: 1px solid #53abff;
    margin-bottom: 30px;
    position: fixed;
    left: 0px;
    top: 0px;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.nombreUser {
    margin-top: 10px;
    margin-bottom: -40px;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    color:#fdfeff;
    font-size: 30px;
    text-shadow: 2px 3px 2px #000000,0 14px 10px rgba(0,0,0,0.15), 0 10px 2px rgba(0,0,0,0.1), 0 20px 16px rgba(0,0,0,0.1);
}

.contenedor {
    min-width: 1000px;
}

#fantasma {
    margin-bottom: 80px;
    visibility: hidden;
}

#cabecera {
    width: 100%;
}

#logo{
    position: relative;
    top: 8px;
    width: 5%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#menu {
    display: block;
    float: right;
    position: relative;
    bottom: 25px;
}

#menu a {
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    color: #53abff;
    text-decoration: none;
}

#menu a:hover {
    color:dodgerblue;
    border-style: solid;
    border-color: white;
    border-bottom-color: #53abff;
    border-width: 1px;
}

#lupa {
    display: flexbox;
}

#cuadroBusqueda {
    display: none;
    position: relative;
    right:10px;
}

#portada {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -1;
    width: 100%;
    height: 400px;
}

#portada img{
    min-width: 1000px;
    width: 100%;
    max-height: 100%;
    display: block; /* remove extra space below image */
}

#imagenPerfil {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
}

#imagenPerfil img {
    border-radius: 50%;
}

#infoFollows {
    float: left;
    display: block;
    width: 250px;
    padding: 15px 15px 15px 15px;
    background-color: rgba(255,255,255,0.6);
    border: 2px solid #53abff;
    border-radius: 25px;
    margin-top: 10px;
    margin-left: 10px;
}

#info2 {
    display: block;
    float: right;
    width: 250px;
    padding: 15px 15px 15px 15px;
    background-color: rgba(255,255,255,0.6);
    border: 2px solid #53abff;
    border-radius: 25px;
    margin-top: 10px;
    margin-right: 10px;
}

#bodyPerfil {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 10px;
}

#cuerpo {
    padding-top: 15px;
    padding-bottom: 15px;
    /*background-color: white;
    border-radius: 10px;*/
}

#unfollow {
    visibility: none;
    display: hidden;
}